/* Custom Styles */

/* Primary Colors */
:root {
  --color-primary: #69005f;
  --color-secondary: #ca00b6;
  --color-ascent: #5c0071;
  --color-body: #131313;
  --color-box: #1a1a1a;
  --color-boxhover: rgb(29, 29, 29);
  --color-font: rgb(227, 227, 227);
  --font-montserrat: "Montserrat", serif;
}

body {
  margin: 0;
  background-color: var(--color-body);
  color: var(--color-font);
  font-family: var(--font-montserrat);
}

/* Custom elements */
section {
  padding: 15% 15% 0 15%;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 3.5rem;
  text-transform: capitalize;
}

h2 {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: capitalize;
}

h3 {
  font-weight: 500;
  font-size: 2rem;
  text-transform: capitalize;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-primary);
}

p,
li,
a {
  font-size: 1.2rem;
  text-decoration: none;
}

.cta-button {
  background-color: var(--color-primary);
  border: 0ch;
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  box-shadow: none;
  color: var(--color-font);
  font-weight: 500;
  border-radius: 30px 0 30px 30px;
  transition: .5s ease;
}

.cta-button:hover {
  background-color: var(--color-secondary);
  color: var(--color-font);
  scale: 1.03;
}

.small-icons {
  font-size: 20px;
  padding-right: 10px;
  transition: .5s ease;
}

.small-icons:hover {
  scale: 1.03;
  color: var(--color-secondary);
}

.big-icon {
  font-size: 35px;
  padding-right: 10px;
  transition: .5s ease;
}

.big-icon:hover {
  scale: 1.03;
  color: var(--color-secondary);
}

/* /custom-styles */

/* navbar */
nav a {
  text-decoration: none;
  color: var(--color-font);
  font-weight: 400;
  padding: auto 50%;
  transition: .3s;
}

nav a:hover {
  color: var(--color-secondary);
}

/* Header section */
#header {
  padding-top: .7%;
}

#hero-banner {
  padding: 40px 0 0 0;
  height: 60%;
}

.header-image-box {
  overflow: hidden;
  width: 90%;
  margin-left: auto;
  border-radius: 100px 0 100px 100px;
  position: relative;
  z-index: -1;
}

.header-image-box:hover {
  scale: 1.03;
}

.header-image {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.image-label {
  background-color: var(--color-primary);
  border-radius: 100px 0 100px 100px;
  text-align: center;
  padding: 0 50px 0 10px;
  width: 280px;
  position: absolute;
  top: 70%;
}

.image-label p {
  font-size: 1.3rem;
  margin: 20px 0;
}

/* Search block */
#search-block {
  margin: 50px auto 0 auto;
}

.search-area {
  border-radius: 100px;
  padding: 10px 50px;
  box-shadow: #000000;
  margin: auto;
  border: 1px solid var(--color-primary);
  transition: .5s ease;
}

.search-area:hover {
  border: 1px solid var(--color-font);
}

.search-area select {
  border: none;
  padding: 15px 0px 15px 10px;
  outline: none;
  background-color: transparent;
  color: var(--color-font);
  font-size: 1.2rem;
  width: 100%;
}

/* .search-area input {
  border: none;
  outline: none;
  margin-bottom: 10px;
  background-color: transparent;
  color: white;
  font-size: 20px;
  transition: -5s ease;
} */
/* .search-area input:focus {
  border: 1px solid whitesmoke ;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.search-area input:hover {
  border: 1px solid whitesmoke
} */

.search-area button {
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 1.2rem;
}


/* About section */
#about {}

.grid-1,
.grid-3,
.grid-2,
.grid-4 {
  padding: 0 0px 20px 20px;
  text-align: center;
}

.grid-3,
.grid-4 {
  padding-bottom: 0;
}

.innerblock {
  background-color: var(--color-box);
  padding: 30px;
  border-radius: 30px 0 30px 30px;
  transition: 1s ease;
  outline: 0;
}

.innerblock:hover {
  border: 1px solid var(--color-secondary);
  outline: 0;
}

.innerblock h4 {
  font-size: 1.3rem;
  font-weight: 600;
}

.innerblock p {
  font-size: 15px;
}

.big-icon {
  padding-bottom: 10px;
}


/* Credibility section */
#credibility {
  width: 100%;
}

#credibility .section-label {
  text-align: center;
}

#credibility h2 {
  padding-bottom: 50px;
}

#credibility .row {
  padding: 0 60px;
  text-align: center;
}

/* Featured section */
#featured-properties {
  text-align: center;
}

.label {
  padding-bottom: 30px;
}

.featured-property-container {
  background-color: var(--color-box);
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 50px 0 50px 50px;
  transition: 1s ease;
}

.featured-property-container:hover {
  border: 1px solid #ba40ae;
}

.property-image {
  overflow: hidden;
  border-radius: 50px 0 50px 50px;
}

#featured-properties img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#featured-properties .price {
  text-align: right;
  padding: 20px 20px 0 30px;
  margin-bottom: 0%;
}

.property-details {
  margin-top: auto;
}

#featured-properties .left {
  text-align: left;
  width: 40%;
  display: inline-block;
  margin-left: 4%;
}

#featured-properties .right {
  text-align: right;
  width: 45%;
  display: inline-block;
}

#featured-properties span {
  margin: 0 7px;
}

#featured-properties .small-icons {
  font-size: 10px;
}

#featured-properties .cta-button {
  margin-top: 50px;
}

/* works section */
#works {
  text-align: center;
}

.section-description {
  margin: 0 auto 50px 0;
}

/* Experts section */
#expert-section {
  text-align: center;
}

.section-description {
  margin: 0 auto 50px 0;
}

#expert-section img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.name-agent {
  text-align: left;
  padding: 15px 0 10px 20px;
}

.name-agent h4 {
  color: var(--color-font);
  font-size: 1.2rem;
}

#expert-section .icon-row .col {
  text-align: right;
  padding: 0 15px 20px 0;
}

#expert-section .cta-button {
  margin: 30px 50px auto auto;
  padding: 15px 20px;
}


/* Partners section */
#partners-section {
  text-align: center;
}

.logo-box {
  padding: 1% 6%;
}

.partners-logo {
  width: 100%;
}

/* Testimonial*/
#testimonial {
  text-align: center;
}

.image-container-user {
  overflow: hidden;
  border-radius: 50% 50% 0 50%;
}

.image-container-user img {
  width: 100%;
}

.user-testimony {
  text-align: left;
  margin-top: 10%;
}

.testimonial-row {
  margin-bottom: 100px;
}

#testimonial .cta-button {
  padding: 15px 30px;
  margin: 0 40px;
  font-size: 1.3rem;
}

/* action-butoons */
#action-buttons {
  padding-top: 8%;
  text-align: center;
}

#action-buttons .cta-button {
  margin: 2%;
  padding: 15px 30px;
}

/* Footer section */
#footer {
  padding: 15% 0 0% 0;
}

#footer .container-fluid {
  padding: 6% 10% 0% 10%;
  border-radius: 150px 150px 0 0px;
  background-color: var(--color-ascent);
}

#footer p {
  padding: 10px 0;
}

.email-box {
  width: 90%;
  border-radius: 50px;
  height: 50px;
  border: none;
  background-color: var(--color-font);
  padding: 20px;
}

.email-box:focus {
  width: 90%;
  border-radius: 50px;
  height: 50px;
  outline: none;
  background-color: var(--color-font);
  padding: 20px;
  font-size: 20px;
}

.subscribe {
  background-color: var(--color-secondary);
  border-radius: 0 50px 50px 0;
  padding: 0 30px;
  height: 50px;
  position: absolute;
  right: 10%;
  font-size: 20px;
  border: 0px;
  font-weight: 500;
  color: var(--color-font);
  transition: .5s;
}

.subscribe:hover {
  font-weight: 600;
}

.subscribe:focus {
  background-color: var(--color-primary);
  border-radius: 0 50px 50px 0;
  padding: 0 30px;
  height: 50px;
  position: absolute;
  right: 10%;
  font-size: 20px;
  border: 0px;
  font-weight: 500;
  color: var(--color-font);
  outline: none;
}

.footer-icons-row {
  padding: 50px 20px 0 0;
}

.logo {
  width: 200px;
  transition: .5s;
}

.logo:hover {
  scale: 1.05;
}

#footer .icon {
  text-align: right;
}

#footer .big-icon .fab {
  padding-left: 10px;
  transition: .5s;
}

#footer .big-icon .fab:hover {
  scale: 1.2;
}

#footer h4 {
  color: var(--color-font);
}

.footer-links {
  text-decoration: none;
}

#footer li {
  padding: 5px;
  transition: 0.5s;
  text-decoration: none;
}

#footer li:hover {
  scale: 1.1
}

.copyright {
  font-size: 8px;
  color: var(--color-box);
  text-align: center;
  padding-top: 20px;
}


/* ABOUT US PAGE */

/* about-header */
#about-header {
  padding-top: .5%;
}

#about-header .image-label {
  right: 0%;
}

#about-header .header-image-box {
  overflow: hidden;
  width: 90%;
  margin-left: 0;
  border-radius: 100px 0 100px 100px;
  position: relative;
  z-index: -1;
}

#about-header .box2 {
  padding: 0 5%;
}

/* Team*/
#team {
  text-align: center;
}

.image-container-user {
  overflow: hidden;
  border-radius: 50% 50% 0 50%;
}

.image-container-user img {
  width: 100%;
}

.team-details {
  text-align: left;
  margin-top: 5%;
  color: var(--color-font);
}

.team-details h4 {
  color: var(--color-font);
}

#team .cta-button {
  margin: auto 30px;
}

/* /ABOUT-US PAGE */



/* PROPERTY PAGE */

/* /PROPERTY PAGE */


/* CONTACT PAGE */
#contact-header {
  margin: 40px 0 0 0;
  padding: 30px 10%;
  text-align: center;
  background-color: var(--color-box);
}

#contact-details .col-md-3,
#contact-details .col-md-2 {
  padding: 20px 10px 0 10px;
  text-align: center;
}

#contact-details .small-icons {
  width: 30px;
  padding: 10px;
}

/* /CONTACT PAGE */