.btn {
  width: 150px;
  height: 50px;
  border: solid 1px;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}

#right {
  width: 50%;
  height: inherit;
  float: right;
  margin-top: 2rem;
}
#left {
  width: 50%;
  height: inherit;
  float: left;
  margin-top: 2rem;
}
