.box {
  width: 50%;
  height: 50%;
  border: solid 1px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  border-top-right-radius: 70px;
  margin-top: 10%;
  padding: 10%;
  margin-right: 10%;
  background: white;
}

.btn {
  width: 400px;
  height: 50px;
  border: solid 1px;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
