@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Custom Styles */
@layer base {
  * {
    @apply font-[montserrat];
  }

    .flex-container {
      display: flex;
       height: 300px;
       justify-content: center;
       align-items: center;
    }

}

body {
  @apply bg-zinc-900 text-zinc-100 m-0;
}

.container {
  @apply max-w-[1440px] mx-auto py-20 px-10 text-center;
}
h1 {
  @apply text-5xl font-semibold leading-7 capitalize;
}

h2 {
  @apply text-4xl font-bold;
}

h3 {
  @apply text-2xl font-medium;
}

h4 {
  @apply text-2xl font-medium;
}

h5 {
  @apply text-xl;
}

button,
.button {
  @apply bg-purple-800 px-5 py-3 font-medium rounded-full transition ease-in-out duration-300 hover:scale-105 hover:bg-purple-900 rounded-tr-none;
}

.navlink {
  @apply hover:text-purple-500 hover:scale-105 duration-300;
}

.formLabel {
  @apply block;
}

.formInput {
  @apply mb-4 w-full rounded-sm text-black bg-zinc-300 focus:outline-none p-2 hover:bg-zinc-50 duration-300;
}

.bigIcon {
  @apply w-[20px];
}

